html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.scrollable::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  background: #a9adb4 !important; /* light gray */
  border-radius: 9999px;
}

/* Thumb */
.scrollable::-webkit-scrollbar-thumb {
  background: #4b5563 !important; /* dark gray */
  border-radius: 9999px;
}

/* Hide arrow buttons */
.scrollable::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

button.cross-btn {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

button.cross-btn:focus,
button.cross-btn:focus-visible {
  background: #dbeafe !important;
  border-radius: 15px;
  border: 1px solid #2563eb !important;
}
.cross-btn:hover {
  background: #dbeafe !important;
  border-radius: 15px;
}

/* When actively clicking */
button.cross-btn:active {
  background: #bfdbfe !important; /* slightly darker */
}

.lists:hover {
  background-color: #eff6ff; /* PrimeFlex surface variable */
}

/* global.css */
.my-link {
  color: #374151; /* text-gray-700 */
  text-decoration: none;
}

.my-link:focus,
.my-link:focus-visible {
  color: #2563eb !important; /* blue-500 */
  outline: none;
}

.hdrbtn.p-button .pi {
  font-size: 1.5rem;
  color: #4b5563;
  cursor: default;
}
/* Target PrimeReact buttons with your hdrbtn class */
.hdrbtn.p-button {
  font-size: 2rem;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  cursor: default;
  color: inherit !important; /* inherit text/icon color */
}

.hdrbtn.p-button:hover,
.hdrbtn.p-button:focus,
.hdrbtn.p-button:active {
  cursor: default;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.p-sidebar {
  box-shadow: none !important;
}
#app-sidebar-2 {
  border: 1px solid #e5e7eb;
}
.hdrbox {
  border-bottom: 1px solid #e5e7eb;
}

.bolticnbtn {
  width: 2.25rem;
  height: 1.8rem;
  border-radius: 5px;
  background-color: white;
}
.pi-bolt{
  color: #2563eb;
  font-size: x-small;
}
.p-menubar .p-submenu-icon {
  display: none !important;
}
/* Force Menubar to respect parent height */
.p-menubar {
  height: 70% !important; /* matches parent height */
  padding: 0 !important; /* remove default padding */
  border: none;
  background-color: transparent !important;
  margin-top: 10px;
  /* optional, remove border if needed */
}

.p-menuitem-content {
  height: 6vh;
  display: flex;
  align-items: center;
}

.p-submenu-list {
  border-radius: 7px;
  margin-top: 19px;
  margin-left: -40px;
  width: 15vw;
  height: 27vh;
}
.p-menuitem {
  margin-bottom: 3px;
}
.p-menuitem .p-menuitem:first-child {
  height: 7vh !important;
}
.p-menuitem .p-menuitem:first-child .p-menuitem-text {
  font-size: small;
  font-weight: 600 !important;
}
.p-menuitem-text {
  font-size: small;
  font-weight: 400 !important;
}
.p-menuitem-content {
  height: 5vh;
}
/* .p-menubar:hover{
  background-color: black !important;
}
.p-menuitem:hover{
  background-color: black !important;
} */
.p-menuitem-content:hover {
  background-color: transparent !important;
}
.p-menuitem-content:focus {
  background-color: transparent !important;
}

/* Kill the blue background on active/opened root menuitem */
.p-menubar .p-ink {
  display: none !important;
}
.hmbx {
  width: 80%;
}

.p-tabmenu .p-tabmenu-nav {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}
/* .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  border-top-left-radius: 10px;
  border-bottom-left-radius:10px;
} */

.p-tabmenu .p-tabmenu-nav > .p-tabmenuitem:first-child > .p-menuitem-link {
  margin-left: 20px;
}
.p-tabmenu > .p-tabmenu-nav:first-child > .p-tabmenuitem > .p-menuitem-link {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.p-tabmenu .p-tabmenu-nav {
  gap: 20px; /* space between all tab items */
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  color: #374151 !important;
}
.p-menuitem-link .p-menuitem-text {
  font-weight: 500 !important;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  color: #3b82f6 !important;
  border-bottom: 5px solid #3b82f6 !important;
}

.p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover
  .p-menuitem-link {
  border-bottom: 5px solid #545a64;
}

.p-treenode-content {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.p-treenode-label {
  text-align: center;
  width: 100%;
}
.p-treenode-label {
  font-weight: 700;
  color: rgb(17, 24, 39);
}
.p-link {
  width: 5%;
}
.p-sidebar-right .p-sidebar {
  width: 45rem;
}
.p-sidebar-right .p-link {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.p-datatable .p-datatable-thead > tr > th {
  background-color: transparent !important;
}
.table-header .pi {
  font-size: smaller;
}

.search_placeholder::placeholder {
  font-size: smaller;
}

.p-column-title {
  font-size: smaller;
}
.p-datatable .p-paginator-top,
.p-datatable .p-paginator-bottom {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}

.p-sidebar-left .p-sidebar-content,
.p-sidebar-right .p-sidebar-content,
.p-sidebar-top .p-side {
  padding: 0px;
}
.poll_form{
  margin-left: 20px;
  margin-right: 20px;
}
.p-sidebar-header{
  width: 100%;
  justify-content: end;
  
}
.p-fileupload .p-button {
  width: 130px !important;
  height: 33.3333px !important;
}
.p-fileupload-choose svg {
  display: none !important;
}
.p-fileupload-basic .p-button-label {
  font-size: smaller !important;
  font-weight: 500 !important;
}
.p-inputtext.p-inputtext-sm {
  width: 100% !important;
}
.p-multiselect .p-placeholder {
  font-size: smaller;
  /* padding: 7px; */
}

.p-dropdown .p-placeholder {
  font-size: smaller;
  /* padding: 7px; */
}
.p-inputtext {
  font-size: smaller;
}
.p-dropdown .p-dropdown-label {
  font-size: smaller;
  padding: 8px;
}
.sbft {
  height: calc(100vh - (56px + 400px + 35px)) !important;
}
.cancel_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  border: none !important;
  color: #ef5858;
  height: 30px;
  width: 100px;
}
/* Target your custom class on hover */
.cancel_btn.p-button-danger:hover {
  background-color: #ffecec !important; /* light red */
}

.save_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  color: #85b0f6 !important;
  height: 30px;
  width: 120px;
}
.publish_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
}
.pi-times{
  display: flex;
  align-items: center;
  font-size: x-small;
}
.pi-save{
  margin-right: -5px;
  display: flex;
  align-items: center;
  font-size: x-small;
}
.pi-calendar{
  display: flex;
  align-items: center;
  font-size: x-small;
}
.publish_btn .pi-calendar{
  /* margin-right: -4px; */
  display: flex;
  align-items: center;
  font-size: x-small;
}
.p-toast {
  font-size: 12px;
  font-weight: 700;
  width: 300px;
}
.p-toast-message-content{
  display: flex;
  align-items: center;
  padding: 5px;
  
}
.p-toast-icon-close-icon{
  width: 25px;
}
/* Fix stretching issue */
.custom-calendar-panel {
  top: 40px !important;
  min-width: unset !important;   /* remove the 546px min-width */
  width: 550px !important;       /* force a controlled width */
  max-width: 100% !important;    /* prevent overflow */
   min-height: unset !important;    /* reset injected min-height */
  max-height: 80vh !important;     /* limit to viewport height */
  height: auto !important;         /* let content decide actual height */
  /* overflow-y: auto;     */

}
.p-datepicker .p-timepicker button {
  width: 30px !important;
  height: 30px !important;
}
.p-datepicker-calendar-container{
  height: 220px !important;

}
.p-datepicker-calendar{
  height: 220px !important;
}
.p-datepicker-calendar tbody tr td{
  font-size: xx-small;
   height: 25px !important; 
  width: 25px !important;
  margin: 0px !important;
  padding: 0px !important; 
}
.p-datepicker td > span {
  margin: 0px;
}

.p-datepicker-calendar-container{
  height: 240px !important;
  padding-bottom: 50px;
}
.p-datepicker table {
  padding: 100px;
}
.p-datepicker .p-timepicker {
  padding: 0px;
}

.p-datepicker-group .p-link{
  width: auto !important;
  height: auto !important;
}
.p-datepicker .p-datepicker-buttonbar {
  padding: 0px;
  margin: 0px;
}
.calendar::placeholder{
  background: #000;
  font-size: xx-small !important;
  padding: 0px !important;
}
.p-datatable-thead{
  font-size: 12px;
  background-color: #f9fafb;
}
.p-datatable-tbody tr{
  font-size: 12px;
}

.bin{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  border: none !important;
  color: #ef5858;
}
/* Target your custom class on hover */
.bin.p-button-danger:hover {
  background-color: #ffecec !important; /* light red */
}
.pi-trash{
  display: flex;
  align-items: center;
  font-size: x-small;
}
.p-datatable-table .p-column-title {
  font-weight: bold;
  font-size: small;
}
.inverted-tag {
  border: 1px solid;
  font-weight: 600;
}

/* Active = success → green text, white bg */
.inverted-tag.success {
  background: #ffffff !important;
  color: #22c55e !important;
  border: none;

}

/* Expired = danger → red text, white bg */
.inverted-tag.danger {

  background: #fef0e9 !important;
  color: #f26d22 !important;
  border: none;

}

/* Optional: warning style for "-" */
.inverted-tag.warning {
  background: #ffffff !important;
  color: #f59e0b !important;
  border: none;
}
.p-dropdown-label{
  display: flex;
  align-items: center;
}
.p-tree-toggler {
  display: none !important;
}
.p-tree {
  color: #111827;
}